#holder {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0 1px 3px #666;
    background: #ddd
    margin: 20px;
		padding: 0px;
    width: 6400px;
    height: 4800px;
}
